{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "music/main.css"%}">
{% endblock css_files %}

{% block content %}
    <header>
        <img src="{% static "images/icon.png"%}" alt="icon" width="50px" height="50px" class="icon">
        <h1>Music Lovers Guide</h1>
    </header>
    
    {% include "navigation.html" %}
    
    <section>
        <h2>Latest songs</h2>
        <ul>
            {% for song in latest_songs %}  
                <li>
                    <div class="song-details">
                        <strong><a href="{% url "song-page" song.slug %}">{{song.title}}</a></strong> 
                        <a href="{% url "band-page" song.band.slug %}">{{song.band}}</a>
                    </div>
                    <div class="album"><a href="{% url "album-page" song.album.slug %}">{{song.album}}</a></div>
                </li>
            {%endfor%}
        </ul>
    </section>    
{% endblock content %}