{% extends "base.html" %}
{% load static %}

{% block title %}
    {{song.title}}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "music/song.css"%}">
{% endblock css_files %}

{% block content %}
    <header>
        <h1>{{ song.title }}</h1>
    </header>

    {% include "navigation.html" %}

    
    <section>
        <h2>Comments</h2>
        <form id="comment-form" action="{% if song.slug %}{% url 'song-page' slug=song.slug %}{% endif %}" method="POST">
            {% csrf_token %}
            {% for form_field in form %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </section>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h3>{{comment.user_name}}</h3>
                    <p>{{comment.content|linebreaks}}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}